---
layout: layout.vto
---
<article class="mx-auto max-w-xl">
  <h1 class="text-4xl font-bold mb-6">{{ title }}</h1>
  <div class="max-w-none content {{content_class}}">
    {{ content }}
  </div>
</article>
