---
layout: layout.vto
---
<section class="max-w-xl mx-auto">
  <h1 class="text-4xl font-bold mb-6">{{ title }}</h1>
  <div class="content {{ content_classes |> join(" ") }}">
    {{ content }}
  </div>
</section>
