---
layout: page.vto
title: 活用事例
description: デジタル民主主義2030のプロジェクト活用事例
---

<section class="mx-auto max-w-xl mt-10">
  <h2 class="text-3xl">活用事例</h2>
  <div class="mt-4 flex flex-col items-start gap-4">
    <a href="/case/kouchou-ai" class="btn btn-primary h-11 block">
      広聴AI →
    </a>
    <a href="/case/idobata" class="btn btn-primary h-11 block">
      いどばた →
    </a>
    <a href="/case/polimoney" class="btn btn-primary h-11 block">
      Polimoney →
    </a>
  </div>
</section>
