---
type: index
layout: page.vto
title: お知らせ
url: /topics/
description: デジタル民主主義2030プロジェクトからのお知らせ
renderOrder: 1
---

<ul class="prose">
  {{ for entry of search.pages("type=topics draft!=true", "publish_on=desc") }}
    <li class="my-4">
      <h2><a href="{{entry.url}}">{{ entry.title }}</a></h2>
      <p class="text-gray-600">
        {{ entry.publish_on |> date("y年M月d日") }}
      </p>
      <p class="mt-2">{{ entry.description }}</p>
    </li>
  {{ /for }}
</ul>
